//**
// Homepage
//**

.asistir{
    background-color: $bg-color;
        .group{
            margin:0 auto;
        }
        .p-complementary{
            max-width: 80%;
            margin: 0 auto;
            @include responsive($small-break) {
                max-width: 60%;
                }
        }
}

.icon{
    margin: 20px 0px 40px 0px;
    @include responsive($small-break) {
                margin:25px 0px;
                }
}
.banner{
        .container{
            padding: 40px 100px;
        }
        .text{
            h1{
             @include font-size(40px);
                color: $white;
                font-weight: $weight-semi-bold;
                text-shadow: 2px 2px 1px $primary-color;
            }

            p{
                @include font-size(18px);
                color: $white;
                text-shadow: 2px 2px 1px $black;
                padding: 0% 20%;

                @include responsive($small-break) {
                    @include font-size(16px);
                    padding: 0;
                }
                }
            }
        @include responsive($small-break) {
                .container{
                            padding: 30px 20px;
                            }

                h1{ line-height: 1.6rem;
                    }

            }
}
.crea{
    background: url("../img/hazte_creador.jpg") no-repeat;
    background-size: cover;
    margin: 0;

}

.evento-img li {
  background-origin: content-box;
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  list-style: none;
  height: 250px;
text-decoration: none;}

.evento-img li.dos {
  background: url("../img/cat.jpg"); }

.evento-item a {
  background: rgba(255, 55, 102, 0);
  display: block;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 100%; }

.evento-item a:hover {
  background: rgba(255, 55, 102, 0.5); }

.vertical-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }

.evento-item .vertical-center {
  padding: 1rem 2rem; }

.evento-item_title,
.evento-item_tag {
  color: #FFF;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 0;
  text-shadow: 2px 2px 1px #ff3766; }

.evento-item_tag {
    font-family: $font-primary;
  font-size: 1rem;
  line-height: 1rem;
  text-shadow: none;
  text-transform: uppercase; }




// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
