h2.sg{
    color: $teal;
    font-family:$font-complementary;
    @include font-size(20px);
    text-transform: none;
}

h4.sg-dosis{
  font-family: $font-primary;
  font-weight: $weight-regular;
}

h4.sg-ptsans{
  font-family: $font-complementary;
}

h4.sg-ptserif{
  font-family: $font-serif;
}

.sg-intro{
  background-color: $bg-color;
  margin-top: -40px;
  position: fixed;
  width: 100%;
      h2{
        color:$white;
        font-family: $font-primary;
        font-weight: $weight-semi-bold;
        @include font-size(28px);
        float: right;
      }
}